[DATABASE]
NAME = votes

[MAIN]
congress_number = 118
congress_session = 2
check_minutes = 10

[BSKY]
username = senaterollcallbot.bsky.social
password = <app password here>

[LOGGING]
consoleLevel = DEBUG
fileLevel = INFO